<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../static/index.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">

	<!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<title>Nick's Blog</title>
</head>
<body>
	<!-- Modal -->
	<div id="login" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Log in</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	        <form action="{% url 'django.contrib.auth.views.login' %}" method="POST">
				{% csrf_token %}
				<table>
					<tr>
						<td>{{ form.username.label_tag }}</td>
						<td>{{ form.username }}</td>
					</tr>
					<tr>
						<td>{{ form.password.label_tag }}</td>
						<td>{{ form.password }}</td>
					</tr>
				</table>
				<button type="submit" class="btn btn-primary">登录</button>
				<input type="hidden" name="next" value="{{ next }}">
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div id="register" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Register</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<!-- Main -->
	<div class="wrapper">
		<!-- Start Header -->
		<div class="header">
			<div class="nav">
				<ul class="nav-list">
					<li class="nav-item">
						<a href="#">
							<span class="glyphicon glyphicon-home nav-icon"></span>
							首页
						</a>
					</li>
					<li class="nav-item">
						<a href="#">
							<span class="glyphicon glyphicon-book nav-icon"></span>
							博客
						</a>
					</li>
					<li class="nav-item">
						<a href="#">
							<span class="glyphicon glyphicon-tags nav-icon"></span>
							其他
						</a>
					</li>
				</ul>
				{% if user.is_authenticated %}
					<div class="nav-item log-in dropdown">
						<a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-user nav-icon"></span>
							{{ user }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu user-menu" role="menu" aria-labelledby="dLabel">
						    <li class="user-menu-item">
						    	<a href="#">
						    		<i class="icon-user"></i>
						    		我的信息
						    	</a>
						    </li>
						    <li class="user-menu-item">
						    	<a href="/logout/">
						    		<i class="icon-key"></i>
						    		注销
						    	</a>
						    </li>
						</ul>
					</div>
				{% else %}
					<div class="nav-item log-in">
						<a data-toggle="modal" href="#login">
							<span class="glyphicon glyphicon-user nav-icon"></span>
							Log in
						</a>
					</div>
				{% endif %}			
			</div>
			<a href="#" class="logo-txt">HERE WE ARE</a>
			<h1 class="intro">且听风吟</h1>
			<div class="head-protrait">
				<a href="#">
					<img src="../../static/head_portrait.png" title="{{ User }}" alt="头像">
				</a>
			</div>
		</div>
		<!-- End Header -->

		<!-- Start Content -->
		<div class="content-wrapper">
			<div class="content"> 
				{% block paragraph %}
				{% endblock %}
			</div>
			<div class="pagination-author" style="width: {{width}}px">
				<ul class="pagination">
					{% block pagination %}
					{% endblock %}
				</ul>
			</div>
		</div>
		<!-- End Content -->

		<!-- Start Footer -->
		<div class="footer">
			<p class="copyright">
				@2014 Dalian NickZhang. All rights reserved. 
			</p>
		</div>
		<!-- End Header -->
	</div>

	<!-- Scripts -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="../../static/index.js"></script>
</body>
</html>