<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../static/index.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">

	<!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<title>Nick's Blog</title>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="nav">
				<ul class="nav-list">
					<li class="nav-list-item"><a href="#">首页</a></li>
					<li class="nav-list-item"><a href="#">博客</a></li>
					<li class="nav-list-item"><a href="#">其他</a></li>
					<li class="nav-list-item log-in"><a href="#">Log in</a></li>
				</ul>
			</div>
			<a href="#" class="logo-txt">HERE WE ARE</a>
			<h1 class="intro">且听风吟</h1>
			<div class="head-protrait">
				<a href="#">
					<img src="../../static/head_portrait.png" title="{{ User }}" alt="头像">
				</a>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="content"> 
				{% block paragraph %}
				{% endblock %}
			</div>
			<div class="pagination-author" style="width: {{width}}px">
				<ul class="pagination">
					{% block pagination %}
					{% endblock %}
				</ul>
			</div>
		</div>
		<div class="footer">
			<p class="copyright">
				@2014 Dalian NickZhang. All rights reserved. 
			</p>
		</div>
	</div>

	<!-- Scripts -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="../../static/index.js"></script>
</body>
</html>