*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../../static/background.jpg);
	font-family: '微软雅黑' !important;
}
li{
	list-style: none;
}

.wrapper{
	margin: 0 auto;
}
/*Header*/
.header{
	min-height: 520px;
	background: url(../../static/header_img.jpg) no-repeat center 0px / cover #222; 
	padding-top: 170px;
	text-align: center;
	color: #FFF;
	position: relative;
}
.header .nav{
	z-index: 100;
	width: 100%;
	height: 50px;
	padding: 0px 100px 0px 100px;
	position: fixed;
	top: 0%;
	background-color: #F9F9F9;
	border-bottom: 1px solid #D9D9D9;
}
.header .nav .nav-list{
	padding-top: 15px; 
	float: left;
}
.header .nav .nav-icon{
	color: #777;
	cursor: pointer;
}
.header .nav .nav-item{
	display: inline-block;
	color: #333;
}
.header .nav .nav-item a{
	font-size: 15px;
	color: #333;
	text-decoration: none;
	padding-right: 20px;
	opacity: 0.8;
}
.header .nav .log-in{
	height: 48px;
	text-align: left;
	float: right;
}
.header .nav .log-in a{
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 14px;
	padding-right: 0;
}
.header .head-protrait{
	position: absolute;
	top: 90%;
	left: 46%;
}
.header .head-protrait img{
	height: 100px;
	width: 100px;
}
.header .logo-txt{
	color: #FFF;
	font-size: 64px;
}

/*Content*/
.content-wrapper{
	width: 900px;
	margin: 0 auto;
	padding-top: 20px;
}
.content{
	padding-left: 150px; 
}
.content-paragraph{
	position: relative;
	border-left: 2px solid #F1F0EE;
	padding: 50px 0px 80px 40px;
}
.paragraph-mark{
	position: absolute !important;
	left: 0;
}
.pagination-author{
	margin: 0 auto;
	width: 67px;
	/*宽度如何确定*/
}

/*Footer*/
.footer{
	width: 900px;
	margin: 0 auto;
	border-top: 1px solid #F1F0EE;
	height: 150px;
	line-height: 150px;
	text-align: center;
}
